#pokedex{
    background-color: rgba(0,0,0, 0.75);
}
#nome_pokemon, #nome_pokemon span{
    font-size: 25px;
    font-weight: 900;
    margin: 10px auto;
}
#pesquisar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding: 30px;
}
#passar_btn{
    display: flex;
    justify-content: space-between;
}
#pesquisar button{
    height: 40px;
    width: 20%;
}
input{
    height: 40px;
}
h2 {
    background-color: #666;
    padding: 10px;
    font-size: 20px;
    color: white;
}

ul{
    background-color: #999;
}
.pokeinfo {
    padding: 10px;
    font-weight: 500;
    color: #111;
    border-bottom: solid 1px #888;
}
#foto_pokemon{
    padding: 20px;
    border-radius: 15px;
    border: 3px solid rgb(51, 51, 51);
    text-shadow: 20px 20px black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
}
h1{
    font-size: 50px;
    background-color: #000;
    text-shadow: -3px -3px #222;
    color: #000;
}